[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: 28
y_offset: 0
z_offset: 2.5
speed: 3.0
#pin_up_reports_not_triggered: False
pin_up_touch_mode_reports_triggered: False # Prevent "BLTouch failed to verify sensor state; retrying." errors

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 28, 28
mesh_max: 205, 205
probe_count: 4,4
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 0,35.5
screw1_name: front left screw
screw2: 165.5,35.5
screw2_name: front right screw
screw3: 165.5,204.5
screw3_name: rear right screw
screw4: 0,204.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[safe_z_home]
home_xy_position: 89.5, 117.5 # Offset by -28 on X to put Z probe in center
speed: 100
z_hop: 10 # Move up 10mm
z_hop_speed: 5

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop # Use BLTouch as endstop
#position_endstop: 0.0 # Not needed due to BLTouch
position_max: 250
position_min: -0.05 # Tolerance to allow for negative z-offset 

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.684
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 280

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 100

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

##################################################################
#GCODE MACROS 
##################################################################
[gcode_macro G29] # Bed level
description: Probe and utilize temporary mesh
gcode:
  BED_MESH_CALIBRATE PROFILE=temp
  BED_MESH_PROFILE LOAD=temp

[gcode_macro M420] # Load mesh
description: Load the current default mesh without probing
gcode:
  BED_MESH_PROFILE LOAD=default

[gcode_macro START_PRINT]
description: Slicer start procedure
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %} # Set default Heat Bed temperature to 60
    {% set EXTRUDER_TEMP = params.EXTRUDER|default(200)|float %} # Set default Extruder temperature to 200
    M140 S{BED_TEMP} # Set Heat Bed temperature
    M190 S{BED_TEMP} # Wait for Heat Bed temperature
    M104 S160 # Pre-heat extruder to 160
    SET_GCODE_OFFSET Z=0 # Set GCODE offset
    G28 # Home all axes
    G29 # Auto-level and create mesh
    M104 S{EXTRUDER_TEMP} # Set extruder temperature
    M109 S{EXTRUDER_TEMP} # Wait for Extruder temperature
    G92 E0 # Reset extruder
    G1 Z2.0 F3000 # Move Z Axis up little to prevent scratching of Heat Bed
    G1 X15.1 Y20 Z0.3 F5000.0 # Move to line start position
    G1 X15.1 Y200.0 Z0.3 F1500.0 E15 # Draw the first line
    G1 X15.4 Y200.0 Z0.3 F5000.0 # Move to side a little
    G1 X15.4 Y20 Z0.3 F1500.0 E30 # Draw the second line
    G92 E0 # Reset extruder
    G1 Z5.0 F3000 # Move Z up a little
 
[gcode_macro END_PRINT]
description: Slicer end procedure
gcode:
    M400 # Wait for moves to finish
    G91 # Set coordinates to relative
    G1 F2400 E-3 # Retract filament 3mm at 40mm/s to prevent stringing
    G0 F5000 Z20 # Move Z Axis up 20mm to allow filament ooze freely
    G90 # Set coordinates to absolute
    G0 X0 Y235 F5000 # Move Heat Bed to the front for easy print removal
    M106 S0 # Turn off cooling fan
    M104 S0 # Turn off extruder
    M140 S0 # Turn off bed
    M107 # Turn off fan
    M84 # Disable stepper motors

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.092500, 0.147500, 0.180000, 0.207500
#*# 	  0.032500, 0.070000, 0.085000, 0.065000
#*# 	  -0.080000, -0.047500, -0.047500, -0.027500
#*# 	  -0.157500, -0.195000, -0.152500, -0.170000
#*# tension = 0.2
#*# min_x = 28.0
#*# algo = bicubic
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 28.0
#*# x_count = 4
#*# max_y = 205.0
#*# mesh_x_pps = 2
#*# max_x = 205.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.082
#*# pid_ki = 1.099
#*# pid_kd = 121.181
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.220
#*# pid_ki = 1.643
#*# pid_kd = 793.519
